:root{
    --main-color : #e0aaff;
    --secondary-color : rgb(255, 255, 255);

    --white : rgb(255,255,255);
    --black : rgb(50,50,50);

    --transparent : rgba(0,0,0,0);

    --main-shadow : rgb(155, 155, 155);
    --secondary-shadow : rgb(200, 200, 200);
}
*{
    padding : 0;
    margin : 0;
}

/* GLOBAL STYLE : applied to all the element */
body{
    font-family : "Lato", Arial;
    color : var(--main-color);

    display: flex;
    justify-content: center;
    align-items: center;

    width : 100vw;
    height : 100vh;

    background: #ffffff;
    background: linear-gradient(5deg,var(--white) 70%, var(--main-color) 100%);
}

h1{
    font-size: 2.5rem;
}

button{
    background: none;

    outline: none;
    border: solid var(--main-color) 0.1rem;
    border-radius: 0.4rem;

    padding : 0.3rem;

    transition: all 0.2s;
}
button:hover{
    cursor: pointer;

    background-color: var(--main-color);
    color: var(--secondary-color);
}

input{
    outline: none;
    border: solid var(--main-color) 0.1rem;
    border-radius: 0.5rem;

    padding: 0.5rem;

    width : auto;
}

/* GLOBAL CLASS : most common classes */
.input-flex{
    display: flex;
    align-items: center;
}
.icon-input{
    padding-left: 1rem;
}
.input-icon{
    
}

.center-panel{
    display : flex;
    flex-direction : column;
    
    align-items : center;
    gap : 1.5rem;

    width : fit-content;
    padding : 1.5rem;

    border : solid var(--transparent) 0.1rem;
    border-radius: 1rem;

    box-shadow: 0.2rem 0.2rem 0.5rem var(--main-shadow), 0.2rem 0.2rem 0.3rem var(--secondary-shadow);
}