:root{
    --transparent : rgba(0,0,0,0);

    --dark-amethyst: #10002bff;
    --dark-amethyst-2: #240046ff;
    --indigo-ink: #3c096cff;
    --indigo-velvet: #5a189aff;
    --royal-violet: #7b2cbfff;
    --lavender-purple: #9d4eddff;
    --mauve-magic: #c77dffff;
    --mauve: #e0aaffff;

    --strawberry-red: #ef233c;
}
*{
    padding : 0;
    margin : 0;
}

/* GLOBAL STYLE : applied to all the element */
body{
    font-family : "Lato", Arial;
    color : var(--mauve);

    display: flex;
    justify-content: center;
    align-items: center;

    width : 100vw;
    height : 100vh;

    background: linear-gradient(0.10turn, var(--dark-amethyst), var(--indigo-ink));
}

h1{
    font-size: 2.5rem;
}

button{
    background: none;

    outline: none;
    border: solid var(--lavender-purple) 0.1rem;
    border-radius: 0.4rem;

    color: var(--mauve);

    padding : 0.4rem;

    transition: all 0.2s;
}
button:hover{
    cursor: pointer;

    background-color: var(--lavender-purple);   
}

input{
    outline: none;
    border: solid var(--main-color) 0.1rem;
    border-radius: 0.5rem;

    padding: 0.5rem;

    width : 13rem;
}

/* GLOBAL CLASS : most common classes */
.center-panel{
    display : flex;
    flex-direction : column;
    
    align-items : center;
    gap : 1.5rem;

    width : fit-content;
    padding : 1.5rem;

    border : solid var(--lavender-purple) 0.1rem;
    border-radius: 1rem;

    background-color: var(--indigo-velvet);

    box-shadow: 0.2rem 0.2rem 0.7rem var(--dark-amethyst), -0.05rem -0.05rem 0.3rem var(--royal-violet);
}


input{
    border : var(--lavender-purple) solid 0.1rem;

    background-color: var(--transparent);

    color : var(--mauve);
}

.icon-input{
    display: flex;
    align-items: center;

    position: relative;
}
.icon-input i {
    z-index: 1;

    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);

    color: var(--lavender-purple);
}
.icon-input input{
    padding-left: 1.75rem;
}